.hidden {
    display: none;
}

/* Two-column layout styles */
.two-column {
    display: flex;
    flex-wrap: wrap; /* Allow columns to wrap to the next row on small screens */
    justify-content: space-between;
}

.left-column,
.right-column {
    flex: 1;
    width: 100%; /* Take full width on small screens */
    margin-bottom: 20px; /* Add some space between items */
}

.right-column {
    margin-left: 0; /* Adjust margin for small screens */
}
body{
  overflow-x: hidden;
}
